.date-wraper {
  line-height: 22px;
}
.btn-wrapper {
  cursor: pointer;
  padding: 7px 10px;
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.161);
  border-radius: 17px;
  font-size: 13px;
}

.exit-logo {
  rotate: 180deg;
  margin-left: 6px;
  width: 20px;
  color: inherit;
}

.calender-logo {
  color: inherit;
}

@media only screen and (max-width: 680px) {
  .exit-wraper {
    padding: 4px 10px;
  }
  .exit-logo {
    width: 17px;
  }
}
